@font-face {
  font-family: customFont;
  src: url(./fonts/Norse-Bold.otf);
}

html body {
  font-size: 1.2rem;
  margin: 0;
  background-color: black;
}

.content {
  display: flex;
  justify-content: center;
}

.hero-left {
  background: url(./images/halie-west-25xggax4bSA-unsplash.jpg);
  background-size: cover;
  height: 100vh;
  max-width: 60vw;
  display: flex;
  min-width: 25%;
  text-align: center;
  color: white;
  position: relative;
}

.odin-strip {
  display: flex;
  position: absolute;
  width: 100%;
  align-items: center;
  justify-content: center;
  top: 11rem;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 1.7rem;
  font-family: customFont;
  height: 5.6rem;
}

.odin-strip img {
  width: 3.5rem;
}

.hero-left p a {
  color: lightgrey; 
  font-family: Arial, Helvetica, sans-serif;
}

.hero-left p {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: .5rem;
  font-size: .7rem;
  color: lightgrey;
  font-family: Arial, Helvetica, sans-serif;
}

.sign-up {
  background-color: rgb(250, 250, 250);
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.header,
.create-button {
  padding: 20px;
  margin: 0px 10px;
}

.instructions {
  font-size: .85rem;
}

.header {
  padding-top: 75px;
}

.form {
  background-color: white;
  padding: 30px 30px 10px;
  box-shadow: 0px 10px 5px -5px rgb(200, 200, 200);
  color: rgb(88, 88, 88);
}

.form p {
  font-size: 1.3rem;
  color:rgb(65, 65, 65);
  margin-top: -10px;
}

form {
  display: flex;

}

label {
  font-size: .6rem;
}

label,
input {
  display: flex;
  flex-direction: column;
}

input {
  margin: 2px 50px 10px 0px;
  font-size: 1rem;
}

input:invalid {
  border-color: red;
  border-radius: 3px;
  border-style: solid;
}

input:focus {
  outline-color: rgb(93, 93, 198);
  box-shadow: 0px 5px 10px rgb(200, 200, 200);
}

button {
  color: white;
  background-color: #596D48;
  font-size: 1rem;
  padding: 12px 30px;
  border-radius: 7px;
  border-style: none;
  box-shadow: 0px 5px 10px rgb(200, 200, 200);
  margin-bottom: 10px;
}

.create-button {
  margin-top: 10px;
  font-size: .7rem;
}

.create-button a {
  color: #596D48;
  text-decoration: none;
}