@font-face {
  font-family: customFont;
  src: url(./fonts/Norse-Bold.otf);
}

html body {
  font-size: 1.2rem;
}

.content {
  display: flex;
  /* justify-content: center; */
  width: 100vw;
}

.hero-left {
  background: url(./images/halie-west-25xggax4bSA-unsplash.jpg);
  background-size: cover;
  height: 100vh;
  min-width: 37vw;
  text-align: center;
  color: white;
}

.odin-strip {
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  font-family: customFont;
}

.odin-strip img {
  width: 3.5rem;
}

fieldset {
  display: flex;
}

.hero-left p a {
  color: white; 
}

.hero-left p {
  font-size: .7rem;
}

/* experimental below */
input:invalid {
  border-color: red;
}

/* 
Notes:

1. text flexible, everything else px

2. 
*/