@font-face {
  font-family: customFont;
  src: url(./fonts/Norse-Bold.otf);
}

html body {
  font-size: 1.2rem;
}

.content {
  display: flex;
  width: 100vw;
}

.hero-left {
  background: url(./images/halie-west-25xggax4bSA-unsplash.jpg);
  background-size: cover;
  height: 100vh;
  min-width: 37vw;
  text-align: center;
  color: white;
  position: relative;
}

.odin-strip {
  display: flex;
  position: absolute;
  width: 100%;
  align-items: center;
  justify-content: center;
  top: 9rem;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 1.7rem;
  font-family: customFont;
  height: 5.6rem;
}

.odin-strip img {
  width: 3.5rem;
}

.hero-left p a {
  color: lightgrey; 
}

.hero-left p {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: .5rem;
  font-size: .7rem;
  color: lightgrey;
}

fieldset {
  display: flex;
}

/* experimental below */
input:invalid {
  border-color: red;
}

/* 
Notes:

1. text flexible, everything else px

2. 
*/